@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    margin: 0 auto;
    background: #f0f0f0;
    padding: 20px 30px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #fff;
}

@media (max-width: 980px) {
    html {
        font-size: 2.5em;
    }
}

@media (max-width: 880px) {
    html {
        font-size: 2.2em;
    }
}

@media (max-width: 780px) {
    html {
        font-size: 1.9em;
    }
}

@media (max-width: 680px) {
    html {
        font-size: 1.5em;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 0.9em;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 0.8em;
    }
}

@media (min-width: 981px) {
    html {
        font-size: 1em;
        width: 900px;
        margin: auto;
    }
}
